In [2]:
import pandas as pd

# 1. Download the data
~~~~
git clone https://github.com/JieYingWu/COVID-19_US_County-level_Summaries.git
~~~~

# 2. Load the data

In [4]:
# load the the counties data file
counties = pd.read_csv("COVID-19_US_County-level_Summaries/data/counties.csv")
counties.head()

,FIPS,State,Area_Name,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,POP_ESTIMATE_2018,N_POP_CHG_2018,Births_2018,Deaths_2018,...,Total number of UCR (Uniform Crime Report) Index crimes excluding arson.,Total number of UCR (Uniform Crime Report) index crimes reported including arson,MURDER,RAPE,ROBBERY,Number of AGGRAVATED ASSAULTS,BURGLRY,LARCENY,MOTOR VEHICLE THEFTS,ARSON
0,0,US,United States,NaN,NaN,NaN,327167434,2020313.0,3855500.0,2814013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,4887871,12751.0,57216.0,53425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,AL,Autauga County,2.0,2.0,0.0,55601,158.0,655.0,532.0,...,139.0,1765.0,3.0,15.0,34.0,87.0,447.0,1233.0,85.0,108.0
3,1003,AL,Baldwin County,3.0,2.0,5.0,218022,5403.0,2254.0,2228.0,...,446.0,4988.0,8.0,30.0,76.0,332.0,967.0,3829.0,192.0,31.0
4,1005,AL,Barbour County,6.0,6.0,3.0,24881,-277.0,261.0,324.0,...,48.0,474.0,0.0,4.0,8.0,36.0,90.0,362.0,21.0,0.0

In [9]:
# load the infections data
infections_timeseries = pd.read_csv("COVID-19_US_County-level_Summaries/data/infections_timeseries.csv")
infections_timeseries.head()

,FIPS,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20
0,1001,Autauga - Alabama - US,0,0,0,0,0,0,0,0,...,36,37,39,40,43,44,42,45,48,53
1,1003,Baldwin - Alabama - US,0,0,0,0,0,0,0,0,...,147,161,168,171,174,174,175,181,187,188
2,1005,Barbour - Alabama - US,0,0,0,0,0,0,0,0,...,32,33,35,37,37,39,42,43,45,45
3,1007,Bibb - Alabama - US,0,0,0,0,0,0,0,0,...,34,38,42,42,42,42,42,42,43,42
4,1009,Blount - Alabama - US,0,0,0,0,0,0,0,0,...,31,34,34,34,36,37,39,40,40,40

In [6]:
# load the death data
deaths = pd.read_csv("COVID-19_US_County-level_Summaries/data/deaths_timeseries.csv")
deaths.head()

,FIPS,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20
0,1001,Autauga - Alabama - US,0,0,0,0,0,0,0,0,...,2,2,3,4,4,4,3,3,3,3
1,1003,Baldwin - Alabama - US,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,4,4,4,4
2,1005,Barbour - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
3,1007,Bibb - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,Blount - Alabama - US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# load the interventions data
interventions = pd.read_csv("COVID-19_US_County-level_Summaries/data/interventions.csv")
interventions.head()

,FIPS,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
0,0,US,united states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,alabama,737519.0,737504.0,737497.0,737500.0,737503.0,737512.0,737500.0,737495.0
2,1001,AL,autauga county,737519.0,737504.0,737497.0,737500.0,737503.0,737512.0,737500.0,737495.0
3,1003,AL,baldwin county,737519.0,737504.0,737497.0,737500.0,737503.0,737512.0,737500.0,737495.0
4,1005,AL,barbour county,737519.0,737504.0,737497.0,737500.0,737503.0,737512.0,737500.0,737495.0

In [10]:
# load grocery visits data
grocery_visits = pd.read_csv("COVID-19_US_County-level_Summaries/data/out_of_home_activity/grocery_visits.csv")
grocery_visits.head()

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,236.0,253.0,213.0,180.0,207.0,234.0,273.0,228.0,225.0,...,267.0,418.0,368.0,300.0,304.0,291.0,281.0,286.0,270.0,159.0
1,1003,1440.0,1720.0,1700.0,1505.0,1582.0,1997.0,1864.0,1759.0,1930.0,...,2011.0,2426.0,2386.0,2379.0,2594.0,2114.0,2002.0,1789.0,1320.0,806.0
2,1005,149.0,162.0,184.0,133.0,173.0,204.0,204.0,148.0,163.0,...,166.0,253.0,227.0,199.0,219.0,192.0,198.0,195.0,189.0,104.0
3,1007,46.0,40.0,50.0,54.0,38.0,58.0,63.0,38.0,43.0,...,42.0,73.0,55.0,41.0,43.0,48.0,43.0,51.0,36.0,15.0
4,1009,178.0,192.0,223.0,240.0,172.0,244.0,192.0,142.0,161.0,...,201.0,279.0,214.0,142.0,224.0,215.0,182.0,205.0,162.0,101.0

In [11]:
# load grocery visits data
healthcare_visits = pd.read_csv("COVID-19_US_County-level_Summaries/data/out_of_home_activity/healthcare_visits.csv")
healthcare_visits.head()

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,172.0,165.0,187.0,161.0,166.0,182.0,146.0,154.0,219.0,...,189.0,228.0,176.0,90.0,131.0,119.0,106.0,85.0,68.0,54.0
1,1003,1829.0,2829.0,2915.0,2900.0,2655.0,2581.0,1195.0,1702.0,2703.0,...,2565.0,2294.0,927.0,1134.0,2212.0,2098.0,1928.0,1887.0,1243.0,438.0
2,1005,158.0,207.0,246.0,171.0,227.0,174.0,119.0,120.0,206.0,...,189.0,199.0,81.0,128.0,191.0,185.0,200.0,138.0,130.0,39.0
3,1007,145.0,218.0,196.0,194.0,197.0,168.0,112.0,114.0,172.0,...,200.0,154.0,87.0,89.0,168.0,164.0,158.0,136.0,104.0,38.0
4,1009,309.0,504.0,450.0,509.0,468.0,486.0,239.0,260.0,522.0,...,381.0,409.0,238.0,214.0,314.0,272.0,225.0,204.0,148.0,76.0

In [12]:
# load hospital_visits data
hospital_visits = pd.read_csv("COVID-19_US_County-level_Summaries/data/out_of_home_activity/hospital_visits.csv")
hospital_visits.head()

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,80.0,62.0,80.0,62.0,73.0,85.0,91.0,73.0,62.0,...,70.0,62.0,43.0,42.0,48.0,65.0,48.0,47.0,38.0,31.0
1,1003,203.0,469.0,477.0,474.0,451.0,465.0,243.0,225.0,486.0,...,454.0,391.0,168.0,163.0,364.0,339.0,331.0,383.0,272.0,106.0
2,1005,33.0,61.0,70.0,36.0,63.0,42.0,21.0,23.0,43.0,...,44.0,31.0,22.0,11.0,41.0,48.0,52.0,38.0,27.0,8.0
3,1007,62.0,77.0,83.0,69.0,62.0,59.0,55.0,40.0,74.0,...,83.0,55.0,43.0,32.0,64.0,65.0,55.0,52.0,41.0,17.0
4,1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# load poi_visits data
poi_visits = pd.read_csv("COVID-19_US_County-level_Summaries/data/out_of_home_activity/poi_visits.csv")
poi_visits.head()

,FIPS,3 / 1 / 2020,3 / 2 / 2020,3 / 3 / 2020,3 / 4 / 2020,3 / 5 / 2020,3 / 6 / 2020,3 / 7 / 2020,3 / 8 / 2020,3 / 9 / 2020,...,3 / 12 / 2020,3 / 13 / 2020,3 / 14 / 2020,3 / 15 / 2020,3 / 16 / 2020,3 / 17 / 2020,3 / 18 / 2020,3 / 19 / 2020,3 / 20 / 2020,3 / 21 / 2020
0,1001,3113.0,3874.0,4057.0,3449.0,3868.0,4231.0,3706.0,2733.0,4012.0,...,4151.0,4787.0,3673.0,2523.0,2705.0,2645.0,2585.0,2552.0,2020.0,1319.0
1,1003,40296.0,40093.0,41526.0,36614.0,41624.0,54166.0,61910.0,48273.0,48748.0,...,53184.0,65732.0,67158.0,53406.0,55473.0,52864.0,47219.0,39277.0,25036.0,14461.0
2,1005,2106.0,2606.0,2778.0,2332.0,2900.0,3420.0,2863.0,2020.0,2438.0,...,2711.0,3610.0,2748.0,2172.0,2481.0,2382.0,2387.0,2209.0,1940.0,1212.0
3,1007,1721.0,2168.0,2347.0,1916.0,2204.0,2340.0,1729.0,1588.0,2185.0,...,2576.0,2870.0,2200.0,1564.0,1747.0,1781.0,1679.0,1695.0,1406.0,791.0
4,1009,4192.0,4796.0,5664.0,4862.0,4995.0,6008.0,4758.0,3740.0,4981.0,...,5180.0,6105.0,5087.0,2945.0,3561.0,3310.0,2975.0,2864.0,2339.0,1470.0